{#
/**
 * @file
 * Default theme implementation for a summary of a webform mattermost handler.
 *
 * Available variables:
 * - settings: The current configuration for this remote post handler.
 * - handler: The remote post handler.
 *
 * @ingroup themeable
 */
#}
{% if settings.debug %}<strong class="color-error">{{ 'Debugging is enabled'|t }}</strong><br />{% endif %}
<strong>{{ 'URL:'|t }}</strong> {{ settings.webhook_url }}<br />
{% if settings.channel is not empty %}
  <strong>{{ 'Channel:'|t }}</strong> {{ settings.channel }}<br />
{% endif %}
{% if settings.username is not empty %}
  <strong>{{ 'Username:'|t }}</strong> {{ settings.username }}<br />
{% endif %}
